# Xcode
build/
*.xcodeproj/*
!*.xcodeproj/xcshareddata
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
profile

## CocoaPod
Pods/*

## SwiftPM
!*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

## macOS
.DS_Store

